
$-primary: "Roboto", sans-serif;
$body-bg: rgb(240, 230, 230);
$sidebar-bg: rgb(255, 210, 235);
$text: black;
$shadow: 0px 0px 100px 0px rgb(207, 207, 207);

body {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Safari */
  -khtml-user-select: none;    /* Konqueror HTML */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed */
  overflow: hidden;            /*hide scrollbar*/
  
  background-color: $body-bg;
  color: $text;
  transition: all 0.4s;

}

#sidebar {
  float: left;
  background-color: $sidebar-bg;
  min-width: 16vw;
  max-width: 16vw;
  min-height: 100vh;
  transition: all 0.4s;

  -moz-box-shadow: $shadow; /*hor-length shadodow-start-point shadow-depth darkness */
  -webkit-box-shadow: $shadow;
  box-shadow: $shadow;

  h1 {
    text-align: center;
    font-size: 4vw;
  }

  ul {
    padding: 0px;
    margin: 0px;
  }

  li {
    text-decoration: none;
    list-style: none;
 
    padding: 1vh 0; /*left bottom top right */

    a {
      font-family: 300i;
      font-size: 16px;
      text-align: left;
      padding-left: 36px;
    }
  

  }

}

hr {
  margin-left: 36px;
  margin-right: 36px;
}

.workspace {

  width: 60vw;
  height: 70vh;
  border: 1px solid rgb(250, 250, 250);
  margin-left: 12vw; //Not sure if dashboard is centered
  margin-top: 15vh;

  background-color: rgb(255, 245, 245);
  border-radius: 4px;
  -moz-box-shadow: $shadow; /*hor-length shadodow-start-point shadow-depth darkness */
  -webkit-box-shadow: $shadow;
  box-shadow: $shadow;

  transition: all 0.4s;

  .button {
    margin-left: 6vw;
    margin-top: -12vh;
  }
}

input, textarea {
  
  width: 24vw;
  height: 10vh;
  background-color: inherit;
  font-size: 16px;
  padding-top: 6vh;
  //margin-top: 21.25vh;

  resize: none !important;
  border-left: none !important;
  border-right: none !important;
  border-top: none !important;
  border: 1px solid rgb(0, 0, 0, 0.1);
}

textarea:focus, input:focus{
  outline: none;
}

.first {
  margin-top: 3.984375vh;
}

textarea {
  height: 18vh;
  padding-top: 6vh;
}

.submit {
  line-height: 7.5vh;
  height: 8vh;
  min-width: 16vw;
  max-width: 16vw;
	vertical-align: middle;
  cursor: pointer;
  background-color: $sidebar-bg;
  color: rgb(255, 245, 245);
  border-radius: 4px;
	transition: all 0.3s;
  
  content: '';
  border: none;
	border-color: $sidebar-bg;
}

#themeToggle {
  
  display: flex;
  justify-content: center;
  margin-top: 26vh;

}

#themeToggleBtn {
  padding-left: 6.5vw;
  padding-right: 6.5vw;
}

::-webkit-scrollbar-track {
  overflow: hidden;
}

::-webkit-scrollbar {
  overflow: hidden;
}

/* Track */
::-webkit-scrollbar-track {
  overflow: hidden;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  overflow: hidden;
}

